div{
    
}
.a{
    border-top: green solid 100px;
    border-bottom: rgb(218, 218, 3) solid 100px;
    padding: 50px;
    background-color: #0744a0;
    margin-bottom: 50px;

}
.b{
    border-left: green solid 350px;
    border-right: red solid 350px;
    padding: 50px;
    background-color: yellow;
    margin-bottom: 50px;
}
.c{
    border-left: black solid 350px;
    border-right: yellow solid 350px;
    padding: 50px;
    background-color: red;
    margin-bottom: 50px;
}
.d{
    border-left: green solid 100px;
    border-top: yellow solid 100px;
    padding: 50px;
    background-color: red;
    margin-bottom: 50px;
}
.e{
    border-left: rgb(14, 14, 122) solid 350px;
    border-right: rgb(206, 206, 9) solid 350px;
    padding: 50px;
    background-color: red;
    margin-bottom: 50px;
}

