.qq{
    display: table;
}
.qq .q{
    float: left;
    margin-right: 300px;
    margin-left: 100px;
}
.qq .w{
    float: left;
    margin-right: 300px;
}
.qq .e{
    float: left;

}
.aa{
    margin-top: 20px;
}
.aa .a{
    border: 2px solid black;
    float: left;
    border-top: green solid 100px;
    border-bottom: rgb(218, 218, 3) solid 100px;
    padding: 50px;
    background-color: #0744a0;
    width: 100px;
    margin-right: 20px;

}
.aa .b{
    border: 2px solid black;
    border-left: green solid 100px;
    border-right: red solid 100px;
    float: left;
    padding: 100px;
    background-color: yellow;
    height: 60px;
    margin-right: 20px;

}
.aa .c{
    float: left;
    border: 2px solid black;
    border-left: black solid 100px;
    border-right: yellow solid 100px;
    padding: 100px;
    background-color: red;
    height: 100px;}
